@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here

@mixin gradientText {
  background: linear-gradient(to right, red, blue);
  background-clip: text;
  color: transparent;
}

h2 {
  @include gradientText;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
